body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.background{
  background: linear-gradient(to right, #8B3B74 40%, #3E1432 100%);
}

.subheader{
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

.side-li{
  font-family: 'Noto Sans', sans-serif;
}

.hero-page, .footer{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: url("images/hector-bermudez-291156-unsplash.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.layer{
  background: rgba(0, 0, 0, 0.1);
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.main-header{
  width: 50vw;
  height: 50vh;
  margin-top: .5%;
  margin-left: 1%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.main-tag-line{
  margin-left: 1%;
}

.sub-header{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.chevron{
  grid-column: 2 / 3;
  grid-row:  3 / 4;
  margin-top: 5%;
  margin: auto;
}

.chevron-down {
  fill: #FFF;
  margin: auto;
  width: 2.5em;
  height: 2.5em;
  animation: hover-me .5s infinite ease-in-out alternate;
}

  @keyframes hover-me {
    100% { transform: translate3d(0, 25px, 0); }
  }


.text-field-1, .text-field-3{
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #8B3B74 60%, #3E1432 100%);
  color: white;
  padding: 2%;
  border-radius: 15px;
}

.text-field-2, .text-field-4{
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #8B3B74 40%, #3E1432 100%);
  color: white;
  padding: 2%;
  border-radius: 15px;
}

.image-field-1{
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/4k-wallpaper-adult-black-and-white-1489126.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.image-field-2{
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/john-hult-93012-unsplash.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.image-field-3{
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/artist-concert-electric-guitar-1306835.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.image-field-4{
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/beard-blur-boy-167382.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.footer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card, .card-tabs > a{
  width: 100vw;
  text-align: center;
  color: #7F9866;
}

h1{
  font-family: 'Courgette', cursive;
  font-size: 72px;
}

h2{
  font-family: 'Noto Sans', sans-serif;
}

h3{
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
}

h4{
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
}

h5{
  font-family: 'Courgette', cursive;
  font-size: 28px;
}

h6{
  font-family: 'Courgette', cursive;
  font-size: 24px;
}

.mobile{
  text-align: center;
  justify-content: center;
}

a.brand-logo{
  font-size: 20px;
  font-family:'Courgette', cursive;
}

.mobile-hero-page::before{
    content: '';
    display: block;
    background-image: url('images/tom-rogerson-574325-unsplash.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;

}

.mobile-header{
  color: white;
  grid-row: 1 / 2;
  margin: auto;

}

.card-content{
  font-family: 'Noto Sans', sans-serif;
}

.footer{
  color: black;
  text-align: center;
}

.message-form{
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  padding: 2%;
}

.side-nav{
  position: scroll;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  width: 10vw;
  color: white;
}

@media only screen and (max-width: 600px) {
  .hero-page{
    display: grid;
  }

  .main-header{
    width: 100vw;
    height: 25vh;
    grid-column: 1/4;
    grid-row: 2/3;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .chevron{
    height: 1vh;
    width: 1vw;
  }

  .float-right, .float-left{
    float: none;
    width: 100vw;
  }

  h1{
    font-family: 'Courgette', cursive;
    font-size: 36px;
  }

  h2{
    font-family: 'Noto Sans', sans-serif;
  }

  h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
  }

  h4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
  }

  h5{
    font-family: 'Courgette', cursive;
    font-size: 12px;
  }

  h6{
    font-family: 'Courgette', cursive;
    font-size: 12px;
  }

}
